<h1>Stocks</h1>

<ul>
    <% @stocks.each do |stock| %>
        <li>
            <%= stock.name %><br>
            <%= stock.ticker %><br>
            $ <%= stock.price %><br>
        </li><br>
    <% end %>
</ul>

