
<h2><%= @stock.name %> (<%= @stock.ticker %>)</h2>

<h3>Stats</h3>
<div>
    <p><%= number_to_currency(@stock.price) %></p>
</div>

<%= button_to "Delete Stock", stock_path(@stock), method: "delete"%>